<div class="box">

  <mat-toolbar #componentToolbar class="header-small">
    <p>Login</p>
    <span class="ui-spacer"></span>
  </mat-toolbar>
  <div style="padding:2em;">

    <form novalidate [formGroup]="loginForm" class="field-full-width">

      <div style="display: table; margin: 2em auto;">
        <div>
          <mat-form-field class="mat-form">
            <input #username matInput placeholder="Username" formControlName="username" [(ngModel)]="user.username" autocomplete="off">
          </mat-form-field>
          <div class="error" *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')">
            Username is required
          </div>
        </div>
        <div>
          <mat-form-field class="mat-form">
            <input type="password" matInput placeholder="Password" formControlName="password" [(ngModel)]="user.password">
          </mat-form-field>
          <div class="error" *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
            Password is required
          </div>
        </div>
        <div style="padding-top: 1em;">
          <button mat-button (click)="login()" [disabled]="!loginForm.valid">Sign-in</button>
        </div>
      </div>




    </form>

  </div>
</div>