<mat-toolbar #componentToolbar class="header-small">
  <p>Local Data Sharing Hub</p>
  <span class="ui-spacer"></span>
</mat-toolbar>

<div style="padding:2em;">
  <div>
    <h4>LDSH Information</h4>

    <dl>
      <dt>LDSH Name:</dt>
      <dd>{{ldsh.title}}</dd>

      <dt>System Id:</dt>
      <dd>{{ldsh.systemId}}</dd>

      <dt>Email :</dt>
      <dd>{{ldsh.email}}</dd>
      
      <dt>Copyright:</dt>
      <dd>{{ldsh.copyright}}</dd>
      
    </dl>


  </div>

  <div style='clear:both;'></div>


