
awisc/\.recommenders/

awisc/RemoteSystemsTempFiles/

awisc/awisc-server-common/\.settings/

awisc/awisc-server-common/\.classpath

awisc/awisc-server-common/\.project

awisc/awisc-server-db/\.settings/

awisc/awisc-server-db/\.classpath

awisc/awisc-server-db/\.project

awisc/awisc-server-manager/\.settings/

awisc/awisc-server-manager/\.classpath

awisc/awisc-server-manager/\.project

awisc/awisc-server-parent/\.settings/

awisc/awisc-server-parent/\.project

awisc/awisc-server-ws/\.settings/

awisc/awisc-server-ws/\.classpath

awisc/awisc-server-ws/\.project

awisc/awisc-ui/package-lock\.json

local/local-ui/package-lock\.json

rdsh/rdsh-ui/package-lock\.json

local/local-ui/node_modules/
/local/local-ui/angular/e2e
e2e
/local/local-ui/.settings
.settings

awisc/awisc-ui/target/

awisc/awisc-ui/temp/

awisc/awisc-ui/angular/node_modules/

awisc/awisc-ui/angular/\.editorconfig

awisc/awisc-ui/angular/package-lock\.json

awisc/awisc-ui/e2e/
awisc/awisc-karaf-features/target
ldsh/ldsh-server/ldsh-server-dto/target
ldsh/ldsh-server/ldsh-server-manager/target
ldsh/ldsh-server/ldsh-server-ws/target
/.metadata/

awisc/awisc-karaf-features/\.project

awisc/awisc-server/awisc-server-common/\.classpath

awisc/awisc-server/awisc-server-common/\.project

awisc/awisc-server/awisc-server-manager/\.classpath

awisc/awisc-server/awisc-server-manager/\.project

awisc/awisc-server/\.project

awisc/awisc-server/awisc-server-ws/\.classpath

awisc/awisc-server/awisc-server-ws/\.project

awisc/awisc-ui/\.classpath

awisc/awisc-ui/\.project

awisc/\.project
