
awisc/\.recommenders/

awisc/RemoteSystemsTempFiles/

awisc/awisc-server-common/\.settings/

awisc/awisc-server-common/\.classpath

awisc/awisc-server-common/\.project

awisc/awisc-server-db/\.settings/

awisc/awisc-server-db/\.classpath

awisc/awisc-server-db/\.project

awisc/awisc-server-manager/\.settings/

awisc/awisc-server-manager/\.classpath

awisc/awisc-server-manager/\.project

awisc/awisc-server-parent/\.settings/

awisc/awisc-server-parent/\.project

awisc/awisc-server-ws/\.settings/

awisc/awisc-server-ws/\.classpath

awisc/awisc-server-ws/\.project

awisc/awisc-ui/package-lock\.json

local/local-ui/package-lock\.json

rdsh/rdsh-ui/package-lock\.json

local/local-ui/node_modules/
