<div class="box">
  <mat-toolbar #componentToolbar class="header-small">
    <p>Active Channels</p>
    <span class="ui-spacer"></span>


    <button mat-icon-button class="transparent" (click)="refresh()" matTooltip="Refresh">
      <mat-icon class="ui-icon" aria-label="monitor">autorenew</mat-icon>
    </button>
  </mat-toolbar>


  <div style="padding:2em;">

    <mat-table #table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.channelName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="messagesSent">
        <mat-header-cell *matHeaderCellDef> Messages Sent </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.msessagesSent}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bytesSent">
        <mat-header-cell *matHeaderCellDef> Bytes Sent </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.bytesSent}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="failedConnections">
        <mat-header-cell *matHeaderCellDef> Failed Connections </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.failedConnections}} </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button class="transparent" aria-label="View" matTooltip="View">
            <mat-icon class="ui-icon dark" (click)="gotoQueue(element.id)"> pageview</mat-icon>
          </button>

          <button mat-icon-button class="transparent" aria-label="View" matTooltip="Purge">
            <mat-icon class="ui-icon dark" (click)="purge(element.id)">clear_all</mat-icon>
          </button>
        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <div *ngIf="dataSource">
    <div class="row">
      <div style="display: block" style="margin-top: 10px;height: 50%; width:80%">
        <canvas baseChart 
        [datasets]="msgChartData" 
        [labels]="barChartLabels" 
        [options]="msgsChartOptions" 
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
      </div>

      <div style="display: block" style="margin-top: 10px;height: 50%; width:80%">
        <canvas baseChart 
        [datasets]="bytesChartData" 
        [labels]="barChartLabels" 
        [options]="bytesChartOptions" 
        [legend]="barChartLegend"
        [colors]= "lineChartColors"
        [chartType]="barChartType">
      </canvas>
      </div>
  </div>
    <div style="padding: 2em;">
      <button mat-button type="button" class="cancel-button" (click)="back()">Back</button>
    </div>
  </div>