<div class="box">
  <mat-toolbar #componentToolbar class="header-small">
    <p>System Settings</p>
    <span class="ui-spacer"></span>
  </mat-toolbar>

  <div style="padding:2em;">
    <form novalidate *ngIf="metadataForm" [formGroup]="metadataForm" class="field-full-width">
      <mat-tab-group>


        <mat-tab label="System configuration">
          <div style="height: 1.2em;"></div>
          <div>
            <mat-form-field class="mat-form">
              <input matInput placeholder="System Title" formControlName="title">
            </mat-form-field>
            <div class="error" *ngIf="metadataForm.get('title').touched && metadataForm.get('title').hasError('required')">
              System Title is required
            </div>

            <mat-form-field class="mat-form">
              <input matInput placeholder="System ID" formControlName="systemid">
            </mat-form-field>
            <div class="error" *ngIf="metadataForm.get('systemid').touched && metadataForm.get('systemid').hasError('required')">
              System ID is required
            </div>
          </div>

          <div>
            <mat-form-field class="mat-form">
              <input matInput placeholder="Contact Email" formControlName="email">
            </mat-form-field>
            <div class="error" *ngIf="metadataForm.get('email').touched && metadataForm.get('email').hasError('required')">
              URL is required
            </div>

            <mat-form-field class="mat-form">
              <input matInput placeholder="Copyright" formControlName="copyright">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="mat-form">
              <input matInput placeholder="Footer Text" formControlName="footerTxt">
            </mat-form-field>
            <div class="error" *ngIf="metadataForm.get('email').touched && metadataForm.get('email').hasError('required')">
              URL is required
            </div>
          </div>
          <div>
            <mat-form-field class="field-full-width" style="width:60%;">
              <textarea matInput placeholder="Home page wellcome text" formControlName="homeTxt" matTextareaAutosize matAutosizeMinRows="5"
                matAutosizeMaxRows="20" class="field-full-width" rows="5"></textarea>
            </mat-form-field>
          </div>


        </mat-tab>

        <!-- Start Stop Polling mechanism -->
        <!-- <mat-tab label="Polling Service">
          <div>
            <br>
            <div>
              Status: {{pollingServiceStatus}}
            </div>
            <br>
            <mat-form-field class="mat-form">
              <input matInput placeholder="Ftp server base url" formControlName="ftpUrl">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="mat-form">
              <input matInput placeholder="FTP user name" formControlName="ftpUsername">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="mat-form">
              <input matInput placeholder="FTP password" formControlName="ftpPassword">
            </mat-form-field>
          </div>

          <div style="padding:2em;">
            <button mat-button (click)="startPolling()">Start</button>
            <button mat-button (click)="stopPolling()">Stop</button>
          </div>

        </mat-tab>-->

      </mat-tab-group> 

      <div>
        <button mat-button (click)="onSubmit()">Save</button>
        <button mat-button class="cancel-button" (click)="cancel()">Cancel</button>
      </div>


    </form>