<mat-toolbar #toolbar class="header">
  <mat-toolbar-row class="header-top">
  </mat-toolbar-row>
  <mat-toolbar-row class="header">
    <mat-icon class="menu-icon" (click)="sidenav.toggle()">menu</mat-icon>
    <p>Local Web Application</p>
    <span class="ui-spacer"></span>
    <mat-icon class="ui-icon">favorite</mat-icon>
    <mat-icon class="ui-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" class="nav">
    <ul>

      <li class="nav-item"><a class="nav-link" routerLink="home">Home Page</a></li>

      <li class="nav-item"><a class="nav-link" routerLink="rdsh">RDSH</a></li>

      <li class="nav-item"><a class="nav-link" routerLink="settings">Settings</a></li>
    </ul>

  </mat-sidenav>


  <div class="main-content">

    <!-- na paei mesa sto component -->
    



  <router-outlet></router-outlet>
        

      <!-- Submit form -->
      <!-- <app-submit-form></app-submit-form> -->
      <!-- view form  -->
      <!-- <app-datasets-main></app-datasets-main> -->

  </div>

</mat-sidenav-container>


<footer class="footer">
  <div layout="row" layout-align="center center">
    <div class="footer-message">&copy; 2017 - 2018 OpenWIS</div>

  </div>

</footer>