<h2 class="main-header">
  Welcome to the Regional Data Sharing Hub
</h2>

<p>
  <i>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc lectus, mollis a convallis in, convallis in enim. Sed
    dignissim vulputate dolor. Quisque porttitor sagittis felis id blandit. In convallis sollicitudin lectus, quis vulputate
    nisl cursus id. Donec vehicula dolor eu accumsan tristique. Maecenas non lacus arcu. Integer purus enim, blandit commodo
    bibendum quis, pharetra sit amet ipsum. Nullam viverra posuere neque, vel malesuada nunc elementum id. Etiam sed interdum
    ante. Duis a ex enim.
  </i>
</p>

<div class="box">
  <mat-toolbar #componentToolbar class="header-small">
    <p>Registered Local  Data Sharing Hubs</p>
    <span class="ui-spacer"></span>
  </mat-toolbar>


  <div style="padding:2em;">

    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="systemId">
        <mat-header-cell *matHeaderCellDef> System Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.systemId}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="contactEmail">
        <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.contactEmail}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="['/ldsh-edit', element.id]">edit</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>
</div>
