<h2 #introHeader class="main-header"></h2>

<p style="padding:2em 0;">

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc lectus, mollis a convallis in, convallis in enim. Sed
  dignissim vulputate dolor. Quisque porttitor sagittis felis id blandit. In convallis sollicitudin lectus, quis vulputate
  nisl cursus id. Donec vehicula dolor eu accumsan tristique. Maecenas non lacus arcu. Integer purus enim, blandit commodo
  bibendum quis, pharetra sit amet ipsum. Nullam viverra posuere neque, vel malesuada nunc elementum id. Etiam sed interdum
  ante. Duis a ex enim.

</p>

<div class="box">

  <mat-toolbar #componentToolbar class="header-small">
    <p>Search</p>
    <span class="ui-spacer"></span>
    <button mat-icon-button class="transparent" (click)="navigateToMenu()">
      <mat-icon class="ui-icon" aria-label="Menu">zoom_in</mat-icon>
    </button>
  </mat-toolbar>
  <div style="padding:2em;">

    <form [formGroup]="searchForm" class="field-full-width" (submit)="onSubmit()">

      <div style="text-align:center;">
        <mat-form-field class="mat-form" style="width: 60%;margin-right:2em;">
          <input matInput placeholder="Search datasets" formControlName="datasetSearch">
        </mat-form-field>
        <button mat-button type="button" (click)="search()" style="display:inline-block;">Search</button>
      </div>

    </form>
    <div *ngIf="searchResults">
      <search-results></search-results>
    </div>
  </div>
</div>