<h2 #introHeader class="main-header"></h2>

<p style="padding:2em 0;text-align:center;">

  Welcome to the Authoritative WIS Catalogue. From here you can search for datasets provided by various Local Data Sharing
  Hubs (LDSHs).

</p>

<div class="box">

  <mat-toolbar #componentToolbar class="header-small">
    <p>Simple Search</p>
    <span class="ui-spacer"></span>
    <button mat-icon-button class="transparent" (click)="navigateToMenu()" mat>
      <i class="fa fa-search-plus mat-icon" matTooltip="Advanced Search"></i>
    </button>
  </mat-toolbar>
  <div style="padding:2em;">

    <form [formGroup]="searchForm" class="field-full-width" (submit)="search()">

      <div style="text-align:center;">
        <mat-form-field class="mat-form" style="width: 60%;margin-right:2em;">
          <input matInput placeholder="Search datasets" formControlName="searchText" autocomplete="off">
        </mat-form-field>
        <button mat-button type="button" (click)="search()" style="display:inline-block;">Search</button>
      </div>

    </form>
    <search-results [searchResults]='searchResults'></search-results>
  </div>
</div>