<div class="box">

  <mat-toolbar #componentToolbar class="header-small">
    <p>Dataset</p>
    <span class="ui-spacer"></span>
  </mat-toolbar>

  <div style="padding:2em;">

    <form  *ngIf="metadataForm" [formGroup]="metadataForm" class="field-full-width" (submit)="onSubmit()">
      <mat-tab-group>


        <mat-tab label="Dataset Information">
          <div style="height: 1.2em;"></div>


          <!--Dataset Information -->

          <!-- Name: // free text  -->
          <!-- [readonly]="!editMode" -->
          <mat-form-field class="mat-form">
            <input matInput placeholder="Dataset Name" formControlName="datasetName">
          </mat-form-field>

          <div class="error" *ngIf="metadataForm.get('datasetName').touched && metadataForm.get('datasetName').hasError('required')">
            Dataset Name is required
          </div>
          <div class="error" *ngIf="metadataForm.get('datasetName').touched && metadataForm.get('datasetName').hasError('minlength')">
            Minimum of 2 characters
          </div>
          <p> </p>
          <!-- Description:// free text   -->
          <mat-form-field class="mat-form">
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
          <div class="error" *ngIf="metadataForm.get('description').touched && metadataForm.get('description').hasError('required')">
            Description is required
          </div>
          <div class="error" *ngIf="metadataForm.get('description').touched && metadataForm.get('description').hasError('minlength')">
            Minimum of 2 characters
          </div>

          <p>
            <!-- From: //datepicker  -->
            <mat-form-field>
              <!-- <input matInput [matDatepickerFrom]="picker" placeholder="From  date:"> -->
              <input matInput [matDatepicker]="pickerFrom" placeholder="Period From :" formControlName="periodFrom">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>

            <!-- To:: //datepicker -->
            <mat-form-field>
              <input matInput [matDatepicker]="pickerTo" placeholder="Period To:" formControlName="periodTo">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
          </p>
          <!-- TODO ADD time validation <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" -->

          <p></p>
          <!-- License: // free text -->
          <mat-form-field class="mat-form">
            <input matInput placeholder="License" formControlName="license">
          </mat-form-field>
          <div class="error" *ngIf="metadataForm.get('license').touched && metadataForm.get('license').hasError('required')">
            License is required
          </div>
          <div class="error" *ngIf="metadataForm.get('license').touched && metadataForm.get('license').hasError('minlength')">
            Minimum of 2 characters
          </div>

          <p>
            <mat-form-field class="mat-form">
              <input matInput placeholder="Image URL" formControlName="datasetImage">
            </mat-form-field>
          </p>
          <!-- Measurement Types -->

          <!-- selection list of Available Reading Types-->
          <div style="width:100%;float:left; display:block;">
            <!-- autocomplete dropdown -->
            <div class="field-div3-width">
              <h4 matSubheader>Available Measurement Types:</h4>
              <mat-form-field floatPlaceholder="never">
                <input matInput placeholder="Mesurment (WMO code)" [matAutocomplete]="auto" [formControl]="stateCtrl">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let wmo of filteredStates | async" [value]="wmo.name"
                  (onSelectionChange)="setSelectedCode($event, wmo.code)">
                    <span> {{ wmo.name }}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div class="field-div3-width" style="padding:4em 0;">
              <!--  
              <button mat-button type="button" (click)="addSelected()">
                <mat-icon>arrow_back</mat-icon>
              </button>-->
              <button mat-button type="button" (click)="addSelected()">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>

            <!-- selection list of selected Reading Types-->
            <!-- chip  -->
            <div class="field-div3-width">
              <h4 matSubheader>Selected Measurement Types:</h4>
              <mat-chip-list #chipList  formControlName="wmoSelectedCodes" >
                <mat-chip *ngFor="let measurement of selectedCodes" [selectable]="selectable" [removable]="removable" (remove)="deSelect(measurement)">
                  {{measurement.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <!-- <input placeholder="Add measurement..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" /> -->
              </mat-chip-list>
            </div>
          </div>

         <!-- UPDATE frequent -->
         <mat-form-field class="mat-form">
          <mat-select #countrySelect placeholder="Dataset Update Frequency" formControlName="measurementUnit" [value]="measurementUnit">
            <mat-option *ngFor="let measurementUnit of measurementUnits" [value]="measurementUnit.name" 
            [class.selected]="section === selectedSection">
              {{measurementUnit.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        </mat-tab>


        <mat-tab label="Location Information">
          <div style="height: 1.2em;"></div>
          <!-- Country:// drop down -->
          <mat-form-field class="mat-form">
            <mat-select #countrySelect placeholder="Country" formControlName="countryCB" [value]="country">
              <mat-option *ngFor="let country of countries" [value]="country.id" [class.selected]="section === selectedSection">
                {{country.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- State: // free text -->

          <mat-form-field class="mat-form">
            <input matInput placeholder="State / Region" formControlName="state">
          </mat-form-field>
          <div class="error" *ngIf="metadataForm.get('state').touched && metadataForm.get('state').hasError('required')">
            State is required
          </div>

          <mat-form-field class="mat-form">
            <input matInput placeholder="City" formControlName="city">
          </mat-form-field>

          <p></p>

          <mat-form-field class="mat-form">
            <input matInput placeholder="Latitude" formControlName="latitude">
          </mat-form-field>
          <div class="error" *ngIf="metadataForm.get('latitude').touched && metadataForm.get('latitude').hasError('required')">
            Latitude is a required field
          </div>

          <p></p>

          <mat-form-field class="mat-form">
            <input matInput placeholder="Longitude" formControlName="longitude">
          </mat-form-field>
          <div class="error" *ngIf="metadataForm.get('longitude').touched && metadataForm.get('longitude').hasError('required')">
            Longitude is a required field
          </div>

          <p></p>

          <mat-form-field class="mat-form">
            <input matInput placeholder="Elevation" formControlName="elevation">
          </mat-form-field>
          <div class="error" *ngIf="metadataForm.get('elevation').touched && metadataForm.get('elevation').hasError('required')">
            Elevation is a required field
          </div>

        </mat-tab>


        <mat-tab label="Dissemination Information">

          <div style="height: 1.2em;"></div>

          <!--# Distribution Information -->
          <!-- Relative URL: /datasets/aisa-adala -->
          <mat-form-field class="mat-form">
            <input matInput placeholder=" Relative URL" formControlName="relativeUrl" #relativeUrl>
          </mat-form-field>

          <p>
            <!-- filename preFIX -->
            <mat-form-field class="mat-form">
              <input matInput placeholder="Filename Prefix" formControlName="filenameprefix" #filenameprefix>
              <mat-hint>Prefix to be used as initial part of exported file.</mat-hint>
            </mat-form-field>
          </p>
          <br>

          <p>
            Download URL: 
          <span style="color:#62757f;" >{{pageUrl}}</span><span style="color:#2196F3;">{{relativeUrl.value}}</span>/<span style="color:#1976D2;">{{filenameprefix.value}}</span>

          </p>
          <br>
          <p>
            Subscription URI: <span style="color:#62757f;">{{pageUrl}}:</span><span style="color:#2196F3;" [innerHTML]="replaceSlash(relativeUrl.value)"></span>:<span style="color:#1976D2;">{{filenameprefix.value}}</span>
          </p>
          <!--  Data Format: //drop down -->
          <p>
            <mat-form-field class="mat-form">
              <mat-select #climateSelect placeholder="Data format" formControlName="dataformat" [value]="dataformat" >
                <mat-option *ngFor="let dataformat of dataformats" [value]="dataformat.id" [class.selected]="section === selectedSection">
                  {{dataformat.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p>
            <mat-checkbox #rdshDis formControlName="rdshDissEnabled" (change)="rdshAdjust($event.srcElement)">RDSH Dissemination</mat-checkbox>

            <span style="padding:0.5em 1em;display:block;">
              <mat-radio-group #rdshOptions *ngIf="rdshDis.checked">
                <mat-radio-button value="1">Notification Only</mat-radio-button>

                <mat-radio-button value="2">Notification + Data</mat-radio-button>
              </mat-radio-group>
            </span>
          </p>


        </mat-tab>

        <mat-tab label="Search Engine Metadata">

          <div style="height: 1.2em;"></div>

          <!-- Json -ld input -->
          <mat-form-field class="field-full-width" style="width:60%;">
            <textarea matInput placeholder="Json -ld input" formControlName="jsonLd" matTextareaAutosize matAutosizeMinRows="16" matAutosizeMaxRows="24"
              class="field-full-width" rows="20"></textarea>
          </mat-form-field>

        </mat-tab>
      </mat-tab-group>

      <!-- submit -->
      <span class="ui-spacer"></span>
    </form>
  </div>
</div>

<div   *ngIf="metadataForm" class="box" style="margin-top:1em;">
  <div style="padding:2em;">
      <button mat-button (click)="onSubmit()">Save</button>
    <button mat-button class="cancel-button"  (click)="goBack()" >Cancel</button>
  </div>
</div>


<!-- 
    TODO
    responsive adjustments: 
add fleX:
    npm install --save @angular/flex-layout


  <div fxLayout="row">
      <div fxFlex>
        test<div>
      <div fxFlex>test1<div>
      <div fxFlex>test3<div>
   </div>
-->