<div class="box">
  <mat-toolbar #componentToolbar class="header-small">
    <p>LDSH Channels </p>
    <span class="ui-spacer"></span>

    <button mat-icon-button class="transparent" (click)="monitor()" matTooltip="Monitor all">
      <mat-icon class="ui-icon" aria-label="monitor">desktop_windows </mat-icon>
    </button>

  </mat-toolbar>

  <div style="padding:2em;">

    <mat-table #table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.channelName}} </mat-cell>
      </ng-container>

      <!-- uri Column -->
      <ng-container matColumnDef="uri">
        <mat-header-cell *matHeaderCellDef> Uri </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.channelUri}} </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>

        <mat-cell *matCellDef="let element">

          <!-- <button mat-icon-button class="transparent" matTooltip="Edit">
            <mat-icon class="ui-icon dark" aria-label="Edit" (click)="navigateToEditQueue(element.id)">edit</mat-icon>
          </button> -->
          <button mat-icon-button class="transparent" matTooltip="View">
            <mat-icon class="ui-icon dark" aria-label="View" (click)="navigateToViewQueue(element.id)">pageview</mat-icon>
          </button>
          <button mat-icon-button class="transparent" matTooltip="Delete">
            <mat-icon class="ui-icon dark" aria-label="Delete" (click)=deleteChannel(element.id) >delete</mat-icon>
          </button>
        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>
</div>