<h2 class="main-header">
  Welcome to the Authoritative WIS Catalogue
</h2>

<p>
  <i>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc lectus, mollis a convallis in, convallis in enim. Sed
    dignissim vulputate dolor. Quisque porttitor sagittis felis id blandit. In convallis sollicitudin lectus, quis vulputate
    nisl cursus id. Donec vehicula dolor eu accumsan tristique. Maecenas non lacus arcu. Integer purus enim, blandit commodo
    bibendum quis, pharetra sit amet ipsum. Nullam viverra posuere neque, vel malesuada nunc elementum id. Etiam sed interdum
    ante. Duis a ex enim.
  </i>
</p>

<div class="box">

  <mat-toolbar #componentToolbar class="header-small">
    <p>Search</p>
    <span class="ui-spacer"></span>
    <button mat-icon-button class="transparent" (click)="navigateToMenu()">
      <mat-icon class="ui-icon" aria-label="Menu">zoom_in</mat-icon>
    </button>
  </mat-toolbar>
  <div style="padding:2em;">

    <form [formGroup]="searchForm" class="field-full-width" (submit)="onSubmit()">

      <mat-form-field class="mat-form" style="width :80%">
        <input matInput placeholder="Search datasets" formControlName="datasetSearch">
      </mat-form-field>

      <button mat-button type="button" (click)="search()">Search</button>
    </form>
    <div *ngIf="searchResults">
      <search-results></search-results>
    </div>
  </div>
</div>