<div class="box">

  <mat-toolbar #componentToolbar class="header-small">
    <p>Search</p>
    <span class="ui-spacer"></span>
    <button mat-icon-button class="transparent" (click)="navigateToMenu()">
      <mat-icon class="ui-icon" aria-label="Menu">menu</mat-icon>
    </button>
  </mat-toolbar>
  <div style="padding:2em;">

    <form [formGroup]="searchForm" class="field-full-width" (submit)="onSubmit()">

      <mat-form-field class="mat-form" style="width :80%">
        <input matInput placeholder="Search datasets" formControlName="datasetSearch">
      </mat-form-field>

      <button mat-button type="button" (click)="search()">Search</button>
    </form>
    <div *ngIf="searchResults">
      <search-results></search-results>
    </div>
  </div>
</div>