<div class="box">
  
    <mat-toolbar #componentToolbar class="header-small">
      <p>Search</p>
      <span class="ui-spacer"></span>
    </mat-toolbar>
    <div style="padding:2em;">

      <form [formGroup]="searchForm" class="field-full-width" (submit)="onSubmit()">
        
        <mat-form-field class="mat-form">
          <input matInput placeholder="Search datasets" formControlName="datasetSearch">
        </mat-form-field>

        <button mat-button type="button"  (click)="Search()" >Search</button>
        
      </form>
    </div>
</div>