<div class="box">

  <mat-toolbar #componentToolbar class="header-small">
    <p>Local Data Sharing Hub Dataset Channel</p>
    <span class="ui-spacer"></span>
  </mat-toolbar>
  <div  *ngIf="channel"  style="padding:2em;">
    <div>
      <h4>Dataset Channel Information</h4>
      <dl>
        <dt>Queue Name:</dt>
        <dd>{{channel.channelName}}</dd>
        <dt>Uri:</dt>
        <dd>{{channel.channelUri}}</dd>
      </dl>
    </div>
    <br>
    <br>
    <h4>Queue Statistic Graph</h4>

    <div class="row">
      <div class="col-xs-12">
        <img [src]="fullImagePath">
      </div>
    </div>

    <div style='clear:both;'></div>

  </div>