<h2 #introHeader class="main-header"></h2>

<p style="padding:2em 0;text-align:center;">

  Welcome to the Authoritative WIS Catalogue. From here you can search for datasets provided by various Local Data Sharing Hubs (LDSHs).

</p>

<div class="box">

  <mat-toolbar #componentToolbar class="header-small">
    <p>Advanced Search</p>
    <span class="ui-spacer"></span>

    <button mat-icon-button class="transparent" (click)="navigateToHome()">
      <i class="fa fa-search mat-icon" matTooltip="Simple Search"></i>
    </button>
  </mat-toolbar>
  <div style="padding:2em;">

    <form [formGroup]="searchForm" class="field-full-width">

      <!-- selection list of Available Reading Types-->
      <div style="display:inline-block;width :55%;">
        <h5 matSubheader>Search with WMO Codes:</h5>
        <mat-form-field floatPlaceholder="never" style="width :80%;">
          <input matInput placeholder="WMO code" [matAutocomplete]="auto" [formControl]="stateCtrl">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"  >
            <mat-option *ngFor="let wmo of filteredStates | async"  [value]="wmo.name"  
            (onSelectionChange)="setSelectedCode($event, wmo.code)" >
               <span> {{ wmo.name }} </span> ---
              <small> Code: {{ wmo.code }}</small> 
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- add button -->
        <button mat-button type="button" (click)="addSearchCriteria()">Add</button>
      </div>
      <div style="display:inline-block;width :10%;"></div>

      <div style="display:inline-block;width :30%;vertical-align:top;">
        <!-- chip  -->
        <h5 matSubheader>Selected Measurement Types:</h5>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let wmos of selectedCodes" [selectable]="selectable" [removable]="removable" style="margin-bottom: 8px;">
            {{wmos.name}}
            <i class="fa fa-times-circle mat-icon menu-icon" matTooltip="Remove" *ngIf="removable" style="margin-left:0.5em; font-size:18px;" (click)="deSelect(wmos)"></i>
          </mat-chip>
        </mat-chip-list>
      </div>



      <mat-form-field class="mat-form" style="width :80%">
        <input matInput placeholder="Search datasets" formControlName="searchText">
      </mat-form-field>

      <button mat-button type="button" (click)="search()">Search</button>

    </form>
    <search-results [searchResults]='searchResults'></search-results>
  </div>
</div>