<mat-toolbar #toolbar class="header">
  <mat-toolbar-row class="header">
    <mat-icon id="sitenav" class="menu-icon" (click)="sidenav.toggle()" *ngIf="hideShowControls()">menu</mat-icon>

    <p>Authoritative WIS Catalogue</p>
    <span class="ui-spacer"></span>
    <button mat-icon-button class="transparent" (click)="navigateToLogin()">
        <mat-icon class="ui-icon" aria-label="Menu">build</mat-icon>
    </button>
    
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" class="nav" (openedChange)="onOpenedChange()">
    <ul>

      <li class="nav-item">
        <a class="nav-link" routerLink="ldshs" [ngClass]="{ 'active': selectedMenuItem == 'ldshs' }" (click)="clicked('ldshs')">
          <mat-icon class="ui-icon">insert_drive_file</mat-icon>LDSHs
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="settings" [ngClass]="{ 'active': selectedMenuItem == 'settings' }" (click)="clicked('settings')">
          <mat-icon class="ui-icon">settings</mat-icon>Settings
        </a>
      </li>
    </ul>

  </mat-sidenav>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>


<footer class="footer">
  <div layout="row" layout-align="center center">
    <div class="footer-message">&copy; 2017 - 2018 OpenWIS</div>

  </div>

</footer>