<mat-toolbar #toolbar class="header">
  <mat-toolbar-row class="header">
    <i id="sitenav" class="fa fa-bars mat-icon menu-icon" (click)="sidenav.toggle()" *ngIf="showMenu"></i>

    <a class="nav-link" style="text-decoration: none !important;" routerLink="home">
      <p #titleText></p>
    </a>
    <!--Authoritative WIS Catalogue -->
    <span class="ui-spacer"></span>
    
    <button mat-icon-button class="transparent" (click)="navigateToLogin()" matTooltip="Sign-in" *ngIf="!isLoggedIn">
      <i class="fa fa-sign-in mat-icon menu-icon"></i>
    </button>
    <button mat-icon-button class="transparent" (click)="logout()" matTooltip="Sign-out" *ngIf="isLoggedIn">
      <i class="fa fa-sign-out mat-icon menu-icon" ></i>
    </button>
    <!--  -->

  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="false" class="nav" (openedChange)="onOpenedChange()">
    <ul  style="padding:0">

      <li class="nav-item">
        <a class="nav-link" routerLink="ldshs" [ngClass]="{ 'active': selectedMenuItem == 'ldshs' }" (click)="clicked('ldshs')">
          <i class="fa fa-window-restore mat-icon" style="margin:0 1em;"></i>LDSHs
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="settings" [ngClass]="{ 'active': selectedMenuItem == 'settings' }" (click)="clicked('settings')">
          <i class="fa fa-cog mat-icon" style="margin:0 1em;"></i>Settings
        </a>
      </li>
    </ul>

  </mat-sidenav>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>


<footer class="footer">
  <div layout="row" layout-align="center center">
    <div class="footer-message">
      <span #copyright style="margin:0 1em;"></span> |
      <span #email style="margin:0 1em;"></span>
    </div>

  </div>

</footer>