<div class="box">
  <mat-toolbar #componentToolbar class="header-small">
    <p>LDSH System Settings</p>
    <span class="ui-spacer"></span>
  </mat-toolbar>

  <div style="padding:2em;">
    <form novalidate [formGroup]="metadataForm" class="field-full-width">
      <div>
        <mat-form-field class="mat-form">
          <input matInput placeholder="System Title" formControlName="title">
        </mat-form-field>
        <div class="error" *ngIf="metadataForm.get('title').touched && metadataForm.get('title').hasError('required')">
          System Title is required
        </div>
      </div>

      <div>
        <mat-form-field class="mat-form">
          <input matInput placeholder="System ID" formControlName="title">
        </mat-form-field>
        <div class="error" *ngIf="metadataForm.get('systemId').touched && metadataForm.get('systemId').hasError('required')">
          System ID is required
        </div>
      </div>

      <div>
        <mat-form-field class="mat-form">
          <input matInput placeholder="Contact Email" formControlName="email">
        </mat-form-field>
        <div class="error" *ngIf="metadataForm.get('email').touched && metadataForm.get('email').hasError('required')">
          URL is required
        </div>
      </div>

      <div>
        <mat-form-field class="mat-form">
          <input matInput placeholder="Copyright" formControlName="copyright">
        </mat-form-field>
      </div>
      <div>
        Token:
        <h5> {{securityToken}}</h5>
        <br>
      </div>
      <div>
        <button mat-button (click)="generateToken()" matTooltip="Generate token">
          <mat-icon class="ui-icon" aria-label="New">cached</mat-icon>
        </button>
      </div>
      <br>
      <div>
        <button mat-button (click)="onSubmit()">Save</button>
        <button mat-button class="cancel-button">Cancel</button>
      </div>
    </form>