<mat-toolbar #toolbar class="header">
  <mat-toolbar-row class="header">
    <mat-icon id="sitenav" class="menu-icon" (click)="sidenav.toggle()" *ngIf="hideShowControls()">menu</mat-icon>

    <a class="nav-link" style="text-decoration: none !important;" matTooltip="Go to home page" routerLink="home">
      <p> {{SystemTitleText}}</p>
    </a>

    <span class="ui-spacer"></span>
    <button mat-icon-button class="transparent" matTooltip="{{LoginStatus}}" (click)="authenticate()">
      <mat-icon class="ui-icon" aria-label="Menu">exit_to_app</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" class="nav" (openedChange)="onOpenedChange()">
    <ul>

      <li class="nav-item">
        <a class="nav-link" routerLink="datasets" [ngClass]="{ 'active': selectedMenuItem == 'datasets' }" (click)="clicked('datasets')">
          <mat-icon class="ui-icon">insert_drive_file</mat-icon>Datasets
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="rdsh" [ngClass]="{ 'active': selectedMenuItem == 'rdsh' }" (click)="clicked('rdsh')">
          <mat-icon class="ui-icon">call_split</mat-icon>RDSH
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="awisc" [ngClass]="{ 'active': selectedMenuItem == 'awisc' }" (click)="clicked('awisc')">
          <mat-icon class="ui-icon">language</mat-icon>AWISC
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="settings" [ngClass]="{ 'active': selectedMenuItem == 'settings' }" (click)="clicked('settings')">
          <mat-icon class="ui-icon">settings</mat-icon>Settings
        </a>
      </li>
    </ul>

  </mat-sidenav>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>


<footer class="footer">
  <div layout="row" layout-align="center center">
    <!-- &copy; 2017 - 2018 OpenWIS -->
    <div class="footer-message">{{footerTex}}</div>

  </div>

</footer>